@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Work+Sans&display=swap');


/* nav start */
:root{
    --background:black
}

*, *::before, *::after{
    box-sizing: border-box;
}


body {
    margin: 0;
    height: 100vh;
    background: #24252A;
}

header{
    display: grid;
    background: var(--background);
    text-align: center;
    position: fixed;
    top: 0;
    z-index: 999;
    width: 100%;
}

.header__logo {
    height: auto;
    width: 100px;
    float: left;
}

.nav-toggle{
    display: none;
}

.nav-toggle-label{
    position: absolute;
    top: 0;
    right: 0;
    margin-right: 2em;
    height: 100%;
    display: grid;
    align-items: center;
}

.nav-toggle-label span, .nav-toggle-label span::before, .nav-toggle-label span::after{
    display: block;
    background: white;
    height: 2px;
    width: 2em;
    border-radius: 2px;
    position: relative;
}

.nav-toggle-label span::before, .nav-toggle-label span::after{
    content: '';
    position: absolute;
}


.nav-toggle-label span::before{
    bottom: 7px; 
}

.nav-toggle-label span::after{
    top: 7px;
}

nav{
    position: absolute;
    text-align: left;
    top: 100%;
    left: 0;
    background: var(--background);
    width: 100%;
    transform: scale(1, 0);
    transform-origin:top ;
    transition: transform 400ms ease-in-out;
}

nav ul{
    margin: 0;
    padding: 0;
    list-style: none;

}

nav li{
    margin-bottom: 1em;
    margin-left:2em;
}

nav a{
    color: white;
    text-decoration: none;
    font-size: 1.2rem;
    font-family: 'work sans', sans-serif;
    text-transform: uppercase;
    opacity: 0;
    transition: opacity 150ms ease-in-out ;
}

.nav-toggle:checked ~ nav{
    transform: scale(1,1);
}

.nav-toggle:checked ~ nav a{
    opacity: 1;
    transition: opacity 250ms ease-in-out 250ms;
}

.header__Navbar__nav_link__current{
    color: #F7B538;
}


/* main start */


main{
    margin-top: 100px;
    min-height: 85svh;
}


p{
    color: white;
    clear: right;
    position: relative;
    font-size: 18px;
    padding: 15px;
    padding-top: 0px;
    margin-top: 2px;
    font-family: "nunito";
}


h1, h2, h3{
    color: white;
    font-weight: bold;
    padding:3px;
    font-family: "nunito";
    text-align: center;
    margin: 5px;
}
h1{
    font-size: 35px;
}

h2{
    font-size: 25px;
}
h3{
    font-size: 23px;
}

.home.image-about-me__myimgContainer__my-image {
    display: grid;
    grid-template-columns: 1fr;
    margin: 1.25rem auto;
    border-radius: 1em;
    width: 90%;
    aspect-ratio: 1/1;
    object-fit: cover;
}

.image-about-me__myimgContainer{
    border-radius: 1rem;
    overflow: hidden;
    justify-content: center;
    align-items: center;
}
.image-about-me{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(360px, 1fr));
    align-items: center;
}

.image-about-me__myimgContainer__about-me {
    display: grid;
    align-self: center;
    padding: 0px 0px 20px 20px;
    font-size: 50%;
}

p::first-letter {
    font-size: 40px;
    color: yellow;
}

.image-about-me__myimgContainer__about-me__p__name {
    font-size: 20px;
    color: darkturquoise;
    padding-bottom: 0px;
}

.image{
    display: block;
    width: 90vw;
    height: auto;
    border-radius: 1em;
    margin: 0 auto;
}

.image-aside{
    display: grid;
    margin: 1.25rem auto;
    border-radius: 1em;
    width: 90%;
    object-fit: cover;
}


#first-accomplishment, #second-accomplishment, #third-accomplishment,
#first-travel,#second-travel,#third-travel,#first-want, #first-extra-accomplishment
{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(360px, 1fr));
    align-items: center;
    margin: 1.25rem auto;
    
}


.sliding-image {
    margin: 0 0 0 2vw;
    width: 96vw;
}


.hobbies__hobbie-box {
    background-color: #7C898B;
}

.hobbies__hobbies-explanation {
    display: grid;
    grid-template-columns: 1fr;
    border: 1px;
    border-style: solid;
    border-radius: 2rem;
    padding: 10px;
    background-color: #7C898B;
    margin: 10px 7px;}

.hobbies__hobbies-explanation__hobbie-image {
    height: auto;
    width: 50px;
    margin: 10px;
    transition: transform .5s;
}

.hobbies__hobbies-explanation__hobbie-image:hover {
    transform: scale(1.5);
}
.hobbies__hobbies-explanation__hobbie-image__hobbies-header{
    font-size: 40px;
    padding-bottom: 0;
    font-weight: bold;
    color: black;
}

figcaption{
    font-size: 15px;
    color: white;
    text-align: center;
    color: darkturquoise;
}
figure{
    margin: 0;
    padding: 0;
}

.photos__landscape-carousel .photos__landscape-carousel__slide , 
.photos__portrait-carousel .photos__portrait-carousel__slide{
    display: grid;
    grid-template-columns: repeat(6, 96vw);
    width: 100vw;
    margin: 10px;
    scroll-snap-align: start;
    position: relative;
}

.photos__landscape-carousel, .photos__portrait-carousel {
    overflow-x: auto;
    scroll-snap-type: x mandatory;
}

.photos__landscape-carousel__slide ,.photos__landscape-carousel{
    display: grid;
    grid-template-columns: repeat(3, 100vw);
}

.photos__landscape-carousel__slide, .photos__portrait-carousel {
    display: grid;
    grid-template-columns: repeat(6, 100vw);
}

table {
    display: grid;
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
    align-items: center;
    justify-content: center;
    color: white;
    padding-bottom: 10px;
}

.tabel-class{
    display: grid;
    justify-content: center;
    align-items: center;
}

  

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

td{
    width: 20vw;
}
  
tr:nth-child(even) {
    background-color: #8A8A8A;
}

tr:nth-child(odd) {
    background-color: #2C363F;
}
.tabel-class__first-table-row{
    font-weight: bold;
    color: #E8EE37;
}


/* main end */

/* footer start */

footer {
    overflow: hidden;
    display: grid;
    /* grid-template-rows: 60px 1fr;  */
    grid-gap: 2rem;
    width: 100%;
    min-height: 21%;
    background-color: #646464;
    margin-top: 10px;
    border-radius: 20px 20px 0px 0px;
    grid-template-columns: repeat(auto-fit, minmax(360px, 1fr));
}

.icon{
    height: auto;
    padding: 0.2rem;
}

.contact__contactico__iconwrapper{
    width: 2.5rem;
    height: auto;
    padding: 0;
}

.contact__contactico{
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 6fr;
    align-items: center;
    gap: 1rem;
    padding: 0 1rem;
}


.contact__contactico__contacttxt{
    padding: 0 1rem;
    color: white;
    opacity: 0.7;
    transition: 1s;
    font-weight: normal;
}

.nonLinkContact{
    padding: 0 1rem;
    opacity: 0.7;
}

.nonLinkContact::first-letter{
    font-size: 1em;
    color: white;
}

.contact__contactico__contacttxt:hover{
    opacity: 1;
    color: skyblue;
    transition: transform ease-in-out 1s;
    font-weight: bolder;
}

.socialmedia__socialico__socialmedia-icon{
    width: 3rem;
    height: 3rem;
    margin: 4px;
    padding: 0 4px;
    border-radius: 10%;
    transition: transform .5s;

}


.socialmedia__socialico__socialmedia-icon img:hover{
    transform: scale(1.5);

}

.socialmedia__socialico{
    display: grid;
    place-items: center;
}

.socialmedia {
    background-color: transparent;
    display: grid;
    height: fit-content;
    justify-content: center;
    grid-template-columns: repeat(3,60px);
    gap: max(15%, 44px);
    padding: 1rem 2rem;
}

.contact {
    background-color: transparent;
    display: grid;
    gap: 1rem;
    padding: 0.8rem 0;
    grid-template-rows: repeat(3, 3rem);
    min-height: 10rem;
    max-height: fit-content;
    color: white;
}

.copy-right__text{
    display: grid;  
    justify-content: center;
    align-items:center ;
    font-size: 15px;
} 


/* footer end */

/* media queries start */

@media screen and (min-width: 720px){  /* Phone landscape*/
    header{
        position: relative;
    }

    .image-reverse-grid{
        display: grid;
        grid-column: 2 / 3;
    }
    .paragraph-reverse-grid{
        display: grid;
        grid-column: 1 / 2;
        grid-row: 1 / 2;    
    }    

    .sliding-image {
        width: 100%;
        height: 90vh;
        object-fit: contain;
    }
    
    .photos__landscape-carousel, .photos__portrait-carousel {
        margin-bottom: 20px;
    }
}


@media screen and (min-width: 720px) { /*Tablet*/
    header{
        position:fixed
    }
    main{
        margin-top: 100px;
    }
    .hobbies{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    .grid-col-span{
        grid-column: span 2;
    }
    .placement{
        grid-row: 1;
    }
    p{
        font-size: 22px;
    }

    .contact__contactico__contacttxt{
        font-size: 19px;
    }

    
    .copy-right{
        display: grid;
        grid-column: span 2;
    }
    
}


@media screen and (min-width:1500px){ /* Desktop*/
    .nav-toggle-label{
        display: none;
    }
    
    header{
        display: grid;
        grid-template-columns: 1fr auto minmax(600px, 3fr) 1fr;
        align-items: center;
        position: fixed;
    }

    .header__logo{

        grid-column: 2 / span 1;
    }

    nav{
        all: unset;
        grid-column: 3 / 4;
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }

    nav ul{
        display: flex;
        justify-content: flex-end;
    }

    nav li{
        margin-left: 3em;
        margin-bottom: 0;
    }

    nav a{
        opacity: 1;
        position: relative;
    }

    nav a::before{
        content: '';
        display: block;
        height: 5px;
        background-color: #F7B538;
        position: absolute;
        bottom: -.75em;
        left: 0;
        right: 0;
        transform: scale(0, 1);
        transition: transform ease-in-out 250ms;
    }

    nav a:hover::before{
        transform: scale(1, 1);
    }

    main{
        margin-top: 100px;
    }

    .hobbies{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }
    .grid-col-span{
        grid-column-start: 1;
        grid-row-start: 1;
        grid-row-end: 3;
    }
    .placement{
        grid-row: 1;
    }
    .hobbies__aside-p{
        display:grid;
        align-items: center;
        font-size: 30px;
    }

    h1{
        font-size: 50px;
        color: #CCDAD1;
    }

    h2{
        font-size: 40px;
    }

    h3{
        font-size: 30px;
    }

    .image-about-me__myimgContainer__about-me__p{
        font-size: 40px;
    }  
    
    .image-about-me__myimgContainer__about-me__p__name{
        font-size: inherit;
    }

    .image-about-me__myimgContainer__about-me__p::first-letter {
        font-size: 60px;
        color: yellow;
    }

    .sliding-image {
        width: 100%;
        height: 85vh;
        object-fit: contain;
    }
    
    .photos__landscape-carousel, .photos__portrait-carousel {
        margin-bottom: 20px;
    }

    .copy-right{
        display: grid;
        grid-column: 1/ 3;
        grid-row: 2/3;
    }

}